############################
# Visual Studio
############################
.vs/
.vscode/
*.user
*.suo

############################
# ASP.NET Core
############################
**/bin/
**/obj/

############################
# SQLite
############################
*.db
*.db-shm
*.db-wal

############################
# Secrets
############################
TaskTrackerApi/appsettings.Development.json

############################
# React
############################
task-tracker/node_modules/
task-tracker/dist/

############################
# OS
############################
Thumbs.db
.DS_Store